# frontend
frontend/node_modules/
frontend/.next/
frontend/.env*.local

# backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/.env

# general
.DS_Store
backend/vapid_private.pem
